@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&family=Montserrat:wght@600;700;800&display=swap");

@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";


@theme {
  /* FONTS */
  --font-title: "Montserrat", ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  --font-body: "Karla", ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial, "Apple Color Emoji", "Segoe UI Emoji";

  /* BASE NEUTRALS */
  --color-bg:  #C6F7F3;   /* page background */
  --color-text:  #0F172A; /* dark text */
  --color-on-brand-text: #F5FAFF;


  /* BRAND PALETTE */
  --color-brand:#3E66E0; /* blue */
  --color-accent:#7841C6; /* purple */
  --color-cyan:#00CAFF; /* sky */
  --color-teal:#00EACC; /* teal */
  --color-danger:#ED0234; /* red */
  --color-gradient: linear-gradient(135deg, #416FE4 0%, #00EACC 55%, #00CAFF 100%);



}

@utility font-title { font-family: var(--font-title); }
@utility font-body  { font-family: var(--font-body); }
@utility bg-gradient { background-image: var(--color-gradient); }


html { font-family: var(--font-body); background: var(--color-bg); color: var(--color-fg); }


